@import '../style/reset.scss';

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;

    &-bg {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -100;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        margin: 60px;
        z-index: 100;

        &-item a {
            text-decoration: none;
            font-weight: 700;
            font-size: 25px;
            color: blueviolet;
            transition: .3s;
            padding: 20px;
            border-radius: 7px;
            text-transform: uppercase;

            &:hover {
                color: white;
                background-color: blueviolet;
            }
        }
    }
}